#subHeader {
    margin-top: -23em;
}

#slogan {
    top: 130px;
}

#header {
    background-size: cover !important;
    height: 614px;
    margin-top: unset;
}

.header_text {
    font-family: Didot;
    font-size: 3em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 6.3em;
}

#info-article {
    font-family: MontSerrat;
    font-weight: 300;
    font-size: .875em;
    text-align: center;
    margin-top: 0;
    padding: .4em 0 0 0;
    color: #8148B6;
    height: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.head-heart {
    color: red;
}

.head-share {
    color: #2D9CDB;
}

.head-delete {
    color: red;
    cursor: pointer;
}

.head-edit {
    color: #F2994A;
}

.head-link {
    text-align: center;
}

#content-article h1 {
    font-family: MontSerrat;
    font-weight: 700;
    font-size: 2.3em;

}

#content-article h2 {
    color: #488194;
    font-family: MontSerrat;
    font-weight: 700;
    font-size: 2em;

}

#content-article h3 {
    color: #828282;
    font-family: MontSerrat;
    font-weight: 700;
    font-size: 1.500em;

}


#content-article ul {
    background: rgba(191, 213, 220, 0.5);
    padding: 3%;
}

#content-article ul li h2 {
    font-family: Didot;
    font-size: 2em;

}

#content-article p em {
    font-family: MontSerrat;
    font-size: 1em;
    font-weight: 200;

}


#content-article blockquote {
    text-align: center;
    color: #6A3F91;
    font-family: Didot;
    font-size: 2em;
    border: none;
    border-top: solid 1px #579BC1;
    border-bottom: solid 1px #579BC1;
    margin: 8% 0;
}

#action-link {
    text-align: center;
}