#c_body {
    margin-top: -360px;
    margin-bottom: -500px;
}

#form {
    background: #F2F2F2;
    padding-bottom: 9em;
    padding-top: 4em;
    margin-top: 0;
}

#paraph {
    margin-top: 4em;
    margin-bottom: 14em;
    font-family: Didot;
    font-size: 1.5em;
}

input#contact_mail {

    padding-left: 10px;
    height: 4.375em;
    border: none;
    background: #FFFCFC;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input#contact_author {

    padding-left: 10px;
    height: 4.375em;
    border: none;
    background: #FFFCFC;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input#contact_subject {

    padding-left: 10px;
    height: 4.375em;
    border: none;
    background: #FFFCFC;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea#contact_message {

    padding-left: 10px;
    padding-right: 10px;
    height: 15em;

    border: none;
    background: #FFFCFC;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input::placeholder, textarea::placeholder {
    text-decoration-line: underline;
    text-decoration-color: #2D9CDB;
    padding-left: 15px;
}

input {
    text-decoration-line: underline;
    text-decoration-color: #2D9CDB;
    padding: 0;
}

textarea {
    padding-top: 15px;
    height: 7.563em;
    width: 100%;
}

#submitBtn {
    background: #F2994A;
    border-radius: 20px;
    height: 3em;
    font-size: 1.125em;
    text-transform: initial;
    margin: 0 0 0 22px;
}

#slogan {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);
    z-index: 3;
    position: relative;
    left: 105px;
    top: 100px;
    font-family: MontSerrat;
    font-weight: 100;
}