div#subHeaer {
    margin-top: -23em;
}

#slogan {
    top: 130px;
}


#linkBtn {
    background: #F2994A;
    border-radius: 20px;
    font-size: 1.125em;
    text-transform: initial;
    margin-top: 19em;
}

.title {
    font-family: MontSerrat, serif;
    font-size: 2.250em;
    font-weight: 500;
}

.subTitle {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 18em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 22em;
    left: 3em;

    background-color: lightgrey;
    padding: 1em;
}

.paraph {
    font-family: MontSerrat, serif;
    font-weight: 200;
    font-size: 1.300em;
    padding-left: 3em !important;
}

#separator {
    height: 30em;
    background: lightgrey;
    margin-top: 25em;
}

.img-user {
    width: 17.500em !important;
}

#first-circle-img {
    margin-top: 8em;
}

#img-user-separator {
    margin-top: 16em;
    margin-left: 0;
    padding-left: 0;
}

#text-separator {
    margin-top: 6.5em;
    font-size: 1.875em;
    font-family: MontSerrat, serif;
    font-weight: 400;
    text-align: center;
}


#row_participate {
margin-top: 6em;
}

.paraph_deux {
    font-family: MontSerrat, serif;
    font-weight: 200;
    font-size: 1.300em;
    padding-right: 6em !important;
}

#particpate {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 18em;
    position: relative;
    z-index: 3;
    bottom: 3em;
    right: 3em;
}

#participate_background {
    width: 27em;
    height: 5em;
    background: lightgrey;
    z-index: 0;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 7em;
    left: 0;
}

#participate_group {
    margin-top: 12em;
    margin-left: 6em;
}

.infog {
    margin-top: 5em;
}

.infog_subtitle {
    font-family: MontSerrat, serif;
    font-size: 1em;
    font-weight: 300;
    text-align: center;

}

#infog_linkBtn {
    background: #F2994A;
    border-radius: 20px;
    font-size: 1.125em;
    text-transform: initial;
    margin-top: 5em;
}

#observatory {
    margin-top: 100px;
    font-family: Montserrat, serif;
}

#observatory_title {
    background-color: #C4C4C4;
    font-family: Roboto,serif;
    margin-bottom: 40px;
    padding-left: 5%;
}

#observatory_title h1 {
    margin-top: 10px;
}

#observatory_observation div.card-image span {
    color: #F2994A;
    font-weight: bold;
}

#observatory_subtitle {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 18em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 22em;
    left: 3em;
}

#observatory_background {
    width: 24em;
    height: 5em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 37em;
    left: 3em;

    background-color: lightgrey;
    padding: 1em;
}

.short {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.2em;
    color: #44484f;
    padding: 2em 0;
}

.short-head {
    color: #35383d;
    font-size: 1.2em;
}

