div#subHeaer {
    margin-top: -23em;
}

#slogan {
    top: 130px;
}

.bold-text {

    font-family: MontSerrat ,serif;
    font-weight: 500;
    display: block;
    text-align: center;
    color: #828282;
    margin-top: 1em;
}

#linkBtn {
    height: 3em;
    padding-top: .5em;
    background: #F2994A;
    border-radius: 20px;
    font-family: MontSerrat, Serif;
    font-weight: 500;
    font-size: 1.125em;
    text-transform: initial;
    margin-top: 1em;
}

#first {
    margin-top: 5em;
    padding-left: 8em;
}

.first-link {
    color: #488194;
}

.title {
    font-family: Didot, serif;
    font-size: 2.250em;
}

#title-deux {
    text-align: center;
}

#background-un {
    position: absolute;
    width: 99px;
    height: 52px;
    left: 0em;
    margin-top: 15em;

    background: #488194;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#subTitle-un {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.875em;
    width: 18em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: absolute;
    left: 5em;
    top: 4.5em;


}

.paraph {
    font-family: MontSerrat, serif;
    font-weight: 200;
    font-size: 1.300em;
}

#separator {
    height: 20.063em;
    background: lightgrey;
    margin-top: 6em;
}

#round-div {
    position: absolute;
    right: 6em;
    margin-top: 9em;
    width: 16.875em;
    height: 16.875em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #488194;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#round-text {
    text-align: center;
    font-family: Didot;
    line-height: normal;
    font-size: 1.750em;
    color: white;
    padding:1em;

}

#text-separator {
    margin-top: 2em;
    font-size: 2.250em;
    font-family: Didot, serif;
    text-align: center;
}


#participate-div {
    padding-left: 8em;
}

.paraph_deux {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.300em;
    text-align: justify;
}

#participate_group {
    position: absolute;
    width: 99px;
    height: 52px;
    right: 0em;
    margin-top: 2em;

    background: #6A3F91;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#participate {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.875em;

    position: absolute;
    right: 5em;
    top: -1em;
}

#separator-deux {
    background: lightgrey;
    height: 45em;
    margin-top: 15em;
}

.infog {
    margin-top: 5em;
}

.infog h3 {
    font-family: MontSerrat, Serif;
    font-weight: 300;
    font-size: 4em;
}

.infog p {
    font-family: MontSerrat, Serif;
    font-weight: 300;
    font-size: 1.5em;
}


#infog_linkBtn {
    background: #F2994A;
    height: 3em;
    margin-top: 1.5em;
    padding-top: .5em;
    border-radius: 20px;
    font-size: 1.125em;
    text-transform: initial;
}

#observatory {
    margin-top: 100px;
    font-family: Montserrat, serif;
}

#observatory_title h2 {
    color: #488194;
    font-family: Didot;
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 4em;
}

#observatory_title h1 {
    margin-top: 10px;
}

#observatory_observation div.card-image span {
    color: #F2994A;
    font-weight: bold;
}

#observatory_subtitle {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 18em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 22em;
    left: 3em;
}

#observatory_background {
    width: 24em;
    height: 5em;

    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    position: relative;
    top: 37em;
    left: 3em;

    background-color: lightgrey;
    padding: 1em;
}

.short {
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.2em;
    color: #44484f;
    padding: 2em 0;
}

.short-head {
    color: #35383d;
    font-size: 1.2em;
}

