#c_body {
    margin-top: -400px;
    margin-bottom: -320px;
}

#map {

    width: 1247px;
    height: 809px;
    margin: auto;
}

p#popupMap {
    font-family: MontSerrat, serif;
    text-align: center;
    color: #F2994A;
    font-weight: 100;
}

div#popupMap {
    font-family: MontSerrat, serif;
    text-align: center;
    font-weight: 100;
}

#birdPopup {
    width: 80px;
    height: 80px;
}

#birdName {
    font-family: MontSerrat, serif;
    font-weight: 700;
    color: #F2994A;
}

#author {
    color: #2D9CDB;
    font-family: MontSerrat, serif;
    font-weight: 700;
}

#header {
    height: 300px;
    padding-top: 5em;
    margin-bottom: 2em;
    background: no-repeat center url("../img/other/map.jpeg");
    background-size: cover;
}

.header_text {
    font-family: MontSerrat, serif;
    font-weight: 500;
    text-align: center;
    color: white;
}

#help_text {
    text-align: center;
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 2em;
    padding: 0;
}

#help_text_info {
    text-align: center;
    font-family: MontSerrat, serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #99bfcc;
}

#linkBtn {
    margin-top: 3em;
    background: #F2994A;
    border-radius: 20px;
    padding-top: .7em;
    height: 3em;
    font-size: 1.5em;
    text-transform: initial;
    font-family: MontSerrat, serif;
    font-weight: 700;
}

#subHeader {
    margin-top: -6em;
}

#footer {
    margin-top: 20% !important;
}

@media (max-width: 401px) {
    #c_body {
        margin-top: unset;
        margin-bottom: unset;
    }

    #map {
        height: 300px;
        width: 400px;
    }

    #subHeader {
        margin-top: 4em;
        padding: 0;
    }

    #header {
        padding: 0;
        width: 400px;
        height: 114px;
    }

    .header_text {
        font-size: 2em;
        margin-top: 1em;
    }

    #help_text {
        font-size: 1em;
    }

    #footer-mobile {
        margin-bottom: 0;
        padding-top: unset;
    }

    #citation-mobile {
        display: none !important;
    }

    #linkBtn {
        margin-bottom: 2em;
        margin-top: 3em;
        background: #F2994A;
        border-radius: 20px;
        padding-top: .3em;
        height: 3em;
        font-size: 1em;
        font-family: MontSerrat, serif;
        font-weight: 700;
        text-transform: initial;
    }

    #slogan {
        display: none;
    }
}

@media (max-width: 992px) and (min-width: 401px) {
    #header {
        height: 300px;
        background: no-repeat center url("../img/other/map.jpeg");
        background-size: cover;
    }

    .header_text {
        font-size: 3.3em;
    }

    #c_body {
        margin-top: auto;
        margin-bottom: auto;
    }

    #subHeader {
        margin-top: 5em;
    }

    #map {

        width: 850px;
        height: 600px;
        margin: auto;
    }

    #linkBtn {
        margin-bottom: 2em;
    }

    #footer-mobile {
        margin: 0;
        padding-top: unset;
    }

    #citation-mobile {
        display: none !important;
    }

    #slogan {
        display: none;
    }
}

@media (max-width: 1440px) and (min-width: 993px) {
    #header {
        height: 360px;
        background: no-repeat center url("../img/other/map.jpeg");
        background-size: cover;
        margin-top: 3.5em;
    }

    #slogan {
        left: 5.9em;
    }


}

@media (max-width: 1920px) and (min-width: 1441px) {
    #header {
        height: 450px;
        background: no-repeat center url("../img/other/map.jpeg");
        background-size: cover;
        margin-top: 3.9em;
    }

    .header_text {
        margin-top: 2em;
    }

    #map {

        width: 1600px;
        height: 809px;
        margin: auto;
    }

    #footer {
        margin-top: 20% !important;
    }
}


