@media (max-width: 992px) {
    #loginPanel {
        position: relative;
        margin-top: 100px;
    }
}

@media (min-width: 993px) {
    #loginPanel {
        position: relative;
        bottom: 343px;
    }
}

.btn {
    border-radius: 20px;
    margin: 10px 1% 10px 1%;
}