#divautocomplete {
    font-family: Roboto, serif;
}

#loginPanel
{
    margin-top: 40px;
}

body
{
    margin: auto;
    background-color: white;
    font-size: 100%;
    max-width: 1920px;
}

#navnav {

    height: 517px;
    width: 100%;
    background: url('../img/vector/background_header.png');
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 3em;
}

nav .sidenav-trigger {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

div#c_nav {
    width: 83%!important;
    margin: 0 auto!important;
    background: transparent;
}

.dp_nav li a {
    font-size: .8em;
    color: black;
}

.dp_nav li a:hover {

    color: #F2994A;
}

nav ul a {
    font-size: 1em;
    font-family: Montserrat, serif;
    text-transform: uppercase;
}


.navbar-fixed {
    position: fixed;
    height: 56px;
    top: 0;
    z-index: 997;
}

ul:not(.browser-default) {
    margin-top: 2em;
}

a.black-text:hover {
    color: #F2994A !important;
}

a.black-text:active {
    color: #F2994A !important;
}

#little_nav {
    min-width: 4%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 390px;
    z-index: 15000;
    text-align: center;
    padding: 0;
    margin: 0;
}

#little_nav li {
    border-bottom: 1px solid black;
    padding: 1em 0;
}

#little_nav li:hover {
    background: #BDBDBD;
}

#little_nav li a img {
    width: 50%;
}

#slogan {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotateZ(-90deg);

    z-index: 3;
    position: relative;
    left: 105px;
    top: 185px;

    font-family: MontSerrat, serif;
    font-weight: 100;

    width: 10em;
}

#birdImg {
    width: 50%;
}

/*
    Footer
*/
#footer {
    height: 942px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: no-repeat url('../img/vector/vector_footer.png');
    padding-top: 12%;
}

#containerInfos {
    padding-top: 80px;
}

.info {
    margin: 0;
    text-align: right;
    font-family: Montserrat, serif;
}

#company {
    color: white;
    font-size: 36px;
}

.info1 {
    font-family: MontSerrat, serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    text-align: right;
}

.info2 {
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    font-size: 14px;
    text-align: right;

}

#info3 {
    font-style: italic;
    font-weight: 500;
    line-height: 17px;
    font-size: 14px;
    text-align: right;
    color:white;
}

#email_inline.footernewsletter {
    padding: 10px 5% 10px 5%;
    width: 150% !important;
    position: relative;
    right: 40%;
    background: #FFFCFC;
    border-radius: 20px;
}

#footer > div:nth-child(2) > div > form > div:nth-child(2) > button {
    background: #C4C4C4;
    right: 13%;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    text-transform: lowercase;
}

#info5 {
    background: white;
}

#info6 {

    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 10px;
    text-align: left;
    color: #FFFBFB;
    width: 60%;
}

#info8 {
    padding-right: 50px;
}

#info7 {
    margin-right: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 16px;
    text-align: right;

    color: #FFFCFC;
}

svg {
    margin-left: 20px;
}

#nosPartenaires {
    margin-top: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 16px;
    text-align: right;

    color: #FFFCFC;
}

#rowPartenaires {
    padding: 0;
}

#blackBird {
    height: 165px;
    width: 165px;
    z-index: 100;
        position: relative;
        top: 455px;
        left: 350px;
}

#infoAssoCopyright {
    padding-top: 30px;
}

.footer-link {
    color: black;
}


/*
    end footer
*/

/*
    citation
*/
#citation {
    font-family: Didot, serif;
    margin-left: 15%;
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
}

#little_text {
    font-family: MontSerrat, serif;
    font-size: 0.8em;
    text-align: center;
    font-weight: 100;
}
/*
    end citation
*/

/* nav mobile*/

@media (max-width: 400px) {
    #navnav {
        display: none;
    }

    nav {
        background-color: #BDBDBD;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 4em;
        padding-top: .3em;
    }

    ul#mobile-demo {
        margin-top: 0;
        z-index: 10000;
        padding-top: .6em;
    }

    div#mob-nav-icon {
        position: sticky;
        z-index: 1000;
        padding-top: .6em;
    }

    a img#logo-nav-icon, a img#bin-nav-icon, a img#loupe-nav-icon, a img#profil-nav-icon {
        padding-right: .6em;
    }

    a img#bin-nav-icon {
        width: 15%;
    }

    a img#loupe-nav-icon {
        width: 13%;
        padding-bottom: .2em;
    }

    a img#logo-nav-icon {
        width: 25%;
    }

    a img#profil-nav-icon {
        width: 13%;
        padding-bottom: .2em;
    }

    #logo {
        display: none;
    }

    #slogan {
        display: none;
    }

    a.sidenav-trigger.nav-icon {
        margin: 0 0 0 10%;

    }

    .icon-img {
        width: 2.5em;
        position: relative;
        top: .2em;
        left: 7em;
    }

    img#icon-img-un {
        margin-right: 1.7em;
    }

    img#icon-img-deux {
        margin-right: 1.7em;
    }

    #footer {

        background: #488194;
        height: auto;
        position: unset;
        padding: 0;
        top: unset;
        left: unset;
    }

    #footer-mobile {
        margin-bottom: 0;
        padding-top: 0;
    }

    #citation-mobile {
        font-family: Didot, serif;
        font-size: 1em;
        text-align: center;
        margin: 0;
        background: white;
        padding: 1em 0 1em 0;
    }

    #little_text {
        font-family: MontSerrat, serif;
        font-size: 0.8em;
        text-align: center;
        font-weight: 100;
    }

    #nao {
        font-family: MontSerrat, serif;
        font-size: 0.8em;
        color: white;
        text-align: center;
        padding: 1em 0 1em 0;
    }

    #little_nav {
        display: none;
    }

}

@media (min-width: 401px) and (max-width: 992px) {

    #slogan {
        left: 4em;
        top: 12.5em;
    }

    #navnav {
        display: none;
    }

    .sidenav {
        z-index: 10000;
    }

    nav {
        background-color: #BDBDBD;
        box-shadow: none;
        -webkit-box-shadow: none;
        height: 4em;
        padding-top: .4em;
    }

    ul#mobile-demo {
        margin-top: 0;
        z-index: 10000;
        padding-top: .9em;
    }

    #logo {
        display: none;
    }

    a.sidenav-trigger.nav-icon {
        margin: 0 0 0 10%;

    }

    .icon-img {
        width: 4%;
        position: relative;
        top: .2em;
        left: 43em;
    }

    img#icon-img-un {
        margin-right: 1.7em;
    }

    img#icon-img-deux {
        margin-right: 1.7em;
    }

    div#c_nav {
        width: 88%!important;
        margin: 0 auto!important;
        background: transparent;
    }

    #citation-mobile {
        font-family: Didot, serif;
        font-size: 1em;
        text-align: center;
        margin: 0;
        background: white;
        padding: 1em 0 1em 0;
    }

    #little_text {
        font-family: MontSerrat, serif;
        font-size: 0.8em;
        text-align: center;
        font-weight: 100;
    }

    #nao {
        font-family: MontSerrat, serif;
        font-size: 0.8em;
        color: white;
        text-align: center;
        padding: 1em 0 1em 0;
    }

    #footer {

        background: #488194;
        height: auto;
        position: unset;
        padding: 0;
        top: unset;
        left: unset;
    }

    #footer-mobile {
        margin: 0;
        padding-top: 2.5em;
    }

    #little_nav {
        display: none;
    }

    div#mob-nav-icon {
        position: sticky;
        z-index: 1000;
        padding-top: .9em;
    }

    a img#logo-nav-icon, a img#bin-nav-icon, a img#loupe-nav-icon, a img#profil-nav-icon {
        padding-right: .6em;
    }

    a img#bin-nav-icon {
        width: 15%;
    }

    a img#loupe-nav-icon {
        width: 13%;
        padding-bottom: .2em;
    }

    a img#logo-nav-icon {
        width: 25%;
    }

    a img#profil-nav-icon {
        width: 13%;
        padding-bottom: .2em;
    }
}

@media (min-width: 993px) and (max-width: 1439px){

    .icon-img {
        display: none;
    }

    #slogan {
        left: 6.8em;
    }

    div#c_nav {
        width: 84% !important;
    }

    #footer-mobile {
        display: none;
    }

    #blackBird {
        height: 165px;
        width: 165px;
        z-index: 100;
        position: relative;

        top: 470px;
        left: 280px;
    }

    #little_nav {
        width: 4%;
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: 280px;
        z-index: 15000;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #mobile-demo {
        margin-top: 0;
        z-index: 10000;
    }

    div#mob-nav-icon {
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 1600px) {
    .icon-img {
        display: none;
    }

    #slogan {
        left: 6em;
    }

    div#c_nav {
        width: 84% !important;
    }

    #footer-mobile {
        display: none;
    }

    #footer {
        padding-top: 10%;
    }

    #little_nav {
        width: 4%;
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: 280px;
        z-index: 15000;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    div#mob-nav-icon {
        display: none;
    }
}

@media (min-width: 1601px) and (max-width: 1920px) {
    .icon-img {
        display: none;
    }
    #header {
        margin-top: 2.9em;
    }

    #slogan {
        left: 8.7em;
        top: 190px;
    }

    div#c_nav {
        width: 84% !important;
    }

    #footer-mobile {
        display: none;
    }

    #footer {
        padding-top: 10%;
    }

    #info3 {
        margin-right: 20px;
    }

    #blackBird {
        height: 165px;
        width: 165px;
        z-index: 100;
        position: relative;
        top: 410px;
        left: 510px;
    }

    #footer {
        padding-top: 5%;
    }

    div#mob-nav-icon {
        display: none;
    }
}

@media (min-width: 1921px) {
    #citation-mobile{
        display: none;
    }

    #footer-mobile{
        display: none;
    }

    #footer {
        padding-top: 10em;
    }
    
    .nav-icon {
        display: none;
    }

    div#mob-nav-icon {
        display: none;
    }

    #little_nav {
        width: 4%;
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: 330px;
        z-index: 15000;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}
