<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Votre lien:</h1>
    <a href="http://127.0.0.1/modifypassword/{{ data.resetPasswordToken }}">token</a>
</div>
</body>
</html>