<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <h1>Votre lien:</h1>
    <a href="{{ absolute_url(path('security_modifyPassword', {'token': data.resetPasswordToken})) }}">token</a>
</div>
</body>
</html>